:root {
      --primary: #547792;
      --secondary: #94B4C1;
      --accent: #213448;
      --bg: #ECEFCA;
      --font: 'Fredoka', sans-serif;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
        background-color: var(--bg);
    }

    .board{
        border: #213448;
        border-style: solid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 5%;
    }

    .card{
        width: 100%;
        aspect-ratio: 1/1;
        background: var(--primary);
        border: #213448;
        border-style: solid;
        border-radius: 25%;
        font-size: 75%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }